{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treat Me</title>
    <link rel="icon" href="{% static 'img/logo.png' %}">
    
    <style>
        body #promo
        {
            background:url("{% static 'img/background.jpg' %}") no-repeat;
        }

        .btn-secondary
        {
            color: #fff;
            background-color: black;
            border-color: black;
            font-weight: bold;
        }

        .btn-secondary:hover
        {
            color: red;
            font-weight: bolder;
            background-color:coral;
            border-color: cornflowerblue;
            transition-delay: 0.2s;
        }
    </style>
    
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/batch.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Login-Form-Dark.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Navigation-with-Button.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Pretty-Footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/side-nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/untitled.css' %}">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="margin-left: -150px;">
                <a class="navbar-brand" href="{% url 'res_profile' %}">
                    <img src="{{rest.Logo.url}}" id="logo">
                    <strong style="font-size: 25px; color:teal">{{rest.Restaurant_name}}</strong>
                </a>
                
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-left" style="margin-left: 280px;">                    
                    <li class="last">
                        {% if user.is_authenticated %}
                            <span style="line-height: 60px; color:springgreen;font-weight:bold">Logged In as &nbsp;</span>
                            <span class="btn btn-info navbar-btn navbar-right" data-toggle="dropdown" aria-expanded="false" href="#">
                                {{user.username}}
                            </span>
                        {% else %}
                            <a href="{% url 'login' %}" class="btn btn-info navbar-btn navbar-right">
                                <i class="fa fa-unlock-alt"></i> Login
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <input type="checkbox" id="check">
    <label for="check">
        <i class="fa fa-bars" id="btn"></i>
        <i class="fa fa-times" id="cancel"></i>
    </label>

    <div class="sidebar">
        <header>
            <img src="{% static 'img/logo.png' %}"> Treat Me
        </header>

        <ul>
            <li><a href="{% url 'Homepage' %}"><i class="fa fa-qrcode"></i> Dashboard</a></li>
            <li><a href="{% url 'user_staff_profile' %}"><i class="fa fa-user"></i> User Profile</a></li>
            <li><a href="{% url 'res_profile' %}"><i>&#127860;</i> Restaurant overview</a></li>
            
            <li>
                <a href="{% url 'cus_orders' %}">
                    <i class="fa fa-cart-arrow-down"></i> Orders
                    <span class="badge badge-info" style="padding: 7px;"> {{order_count}}</span>
                </a>
            </li>
            
            <li>
                <a href="{% url 'myitems' %}">
                    <i class="fa fa-clipboard"></i> My Items
                    <span class="badge badge-info" style="padding: 7px;"> {{item_count}}</span>
                </a>
            </li>

            <li><a href="{% url 'contact_us_staffview' %}"><i class="fa fa-envelope"></i> Contact Us</a></li>
            <li><a href="{% url 'logout' %}"><i class="fa fa-lock"></i> Logout</a></li>
        </ul>
    </div>

    <div class="section">
        <div class="box-header" style="margin-right:10%;margin-top:-0.75%;float:right">
            <a href="{% url 'Homepage' %}"> TreatMe </a>/ Dashboard
        </div>

        <div class="box">
            <div class="box-content">
                <h3>{{order_count}}</h3>
                <h2><i class="fa fa-cart-arrow-down"></i>&ensp;Orders</h2>
                <a href="{% url 'cus_orders' %}">
                    <div class="box-end">See Details
                        <i class="fa fa-angle-right"></i>
                    </div>
                </a>
            </div>

            <div class="box-content">
                <h3>{{item_count}}</h3>
                <h2><i class="fa fa-clipboard"></i>&ensp;Items</h2>
                <a href="{% url 'myitems' %}">
                    <div class="box-end">See Details
                        <i class="fa fa-angle-right"></i>
                    </div>
                </a>
            </div>
        
            <div class="box-content">
                <h3>{{review_count}}</h3>
                <h2><i class="fa fa-star"></i>&ensp;Reviews</h2>
                <a href="{% url 'reviews' %}">
                    <div class="box-end">See Details
                        <i class="fa fa-angle-right"></i>
                    </div>
                </a>
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 footer-navigation">
                        <h3><a href="#">TREAT Me</a></h3>
                        <p class="links"><a href="#">Resturants</a><strong> · </strong><a href="#">Services</a><strong> · </strong><a href="#">Order </a><strong> </strong></p>
                        <p class="company-name">TREAT Me @2020</p>
                    </div>
                    <div class="col-md-4 col-sm-6 footer-contacts">
                        <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                            <p><span class="new-line-span">Gollamari Khulna, Bangladesh</span></p>
                        </div>
                        <div><i class="fa fa-phone footer-contacts-icon"></i>
                            <p class="footer-center-info email text-left"> 123456789</p>
                        </div>
                        <div><i class="fa fa-envelope footer-contacts-icon"></i>
                            <p> <a href="#" target="_blank">support@company.com</a></p>
                        </div>
                        <div><i class="fa fa-envelope footer-contacts-icon"></i>
                            <p> <a href="#" target="_blank">AtoZ@gmail.com</a></p>
                        </div>
                        
                    </div>
                    <div class="clearfix visible-sm-block"></div>
                    <div class="col-md-4 footer-about">
                        <h4>About the company</h4>
                        <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet. </p>
                        <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox-plus-jquery.min.js"></script>
</body>

</html>