{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.username }}&emsp;|&emsp;Profile</title>
    <link rel="icon" href="{% static 'img/logo.png' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/batch.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Login-Form-Dark.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Navigation-with-Button.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Pretty-Footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/side-nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/untitled.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_profile.css' %}">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="margin-left: -150px;">
                <a class="navbar-brand" href="{% url 'res_profile' %}">
                    <img src="{{rest.Logo.url}}" id="logo">
                    <strong style="font-size: 25px; color:teal">{{rest.Restaurant_name}}</strong>
                </a>
                
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-left side-top" style="margin-left: 200px;">                    
                    <li class="last">
                        {% if user.is_authenticated %}
                            <span style="line-height: 60px; color:springgreen;font-weight:bold">Logged In as &nbsp;</span>
                            <span class="btn btn-info navbar-btn navbar-right" data-toggle="dropdown" aria-expanded="false" href="#">
                                {{user.username}}
                            </span>
                        {% else %}
                            <a href="{% url 'login' %}" class="btn btn-info navbar-btn navbar-right">
                                <i class="fa fa-unlock-alt"></i> Login
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <input type="checkbox" id="check">
    <label for="check">
        <i class="fa fa-bars" id="btn"></i>
        <i class="fa fa-times" id="cancel"></i>
    </label>

    <div class="sidebar">
        <header>
            <img src="{% static 'img/logo.png' %}"> Treat Me
        </header>

        <ul>
            <li><a href="{% url 'Homepage' %}"><i class="fa fa-qrcode"></i> Dashboard</a></li>
            <li><a href="{% url 'user_staff_profile' %}"><i class="fa fa-user"></i> User Profile</a></li>
            <li><a href="{% url 'res_profile' %}"><i>&#127860;</i> Restaurant overview</a></li>
            
            <li>
                <a href="{% url 'cus_orders' %}">
                    <i class="fa fa-cart-arrow-down"></i> Orders
                    <span class="badge badge-info" style="padding: 7px;"> {{order_count}}</span>
                </a>
            </li>
            
            <li>
                <a href="{% url 'myitems' %}">
                    <i class="fa fa-clipboard"></i> My Items
                    <span class="badge badge-info" style="padding: 7px;"> {{item_count}}</span>
                </a>
            </li>

            <li><a href="{% url 'contact_us_staffview' %}"><i class="fa fa-envelope"></i> Contact Us</a></li>
            <li><a href="{% url 'logout' %}"><i class="fa fa-lock"></i> Logout</a></li>
        </ul>
    </div>

    <div class="section">
        <div class="headings">
            <img src="{{ cur_user.Profile_picture.url }}">
            <h1>
                {{user.username}} <span> Profile</span>
                <a href="{% url 'update_staff_profile' %}"><i class="fa fa-pencil"></i></a><br>
            </h1>

            <div class="pop">
                Edit Profile
            </div>
            
            <div class="social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>

        <div class="profile_container">
            <h2>Profile Details</h2>
            <div class="line"></div>
            <div class="profile_content">
                <div class="left">
                    <h4><i class="fa fa-user"></i> First name</h4>
                    <h5> {{user.first_name}} </h5><br>

                    <h4><i class="fa fa-user"></i> Last name</h4>
                    <h5> {{user.last_name}} </h5><br>
                    
                    <h4><i class="fa fa-phone"></i> Phone number</h4>
                    <h5> {{cur_user.Phone_number}} </h5><br>

                    <h4><i class="fa fa-envelope"></i> Email</h4>
                    <h5> {{user.email}} </h5><br>

                    <h4><i class="fa fa-compass"></i> Address</h4>
                    <h5 style="height: 100px;"> {{user.location}} </h5><br>
                </div>

                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=khulna%20university&t=&z=19&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        <a href="https://123movies-i.net">123movies</a>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 footer-navigation">
                        <h3><a href="#">TREAT Me</a></h3>
                        <p class="links"><a href="#">Resturants</a><strong> · </strong><a href="#">Services</a><strong> · </strong><a href="#">Order </a><strong> </strong></p>
                        <p class="company-name">TREAT Me @2020</p>
                    </div>
                    <div class="col-md-4 col-sm-6 footer-contacts">
                        <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                            <p><span class="new-line-span">Gollamari Khulna, Bangladesh</span></p>
                        </div>
                        <div><i class="fa fa-phone footer-contacts-icon"></i>
                            <p class="footer-center-info email text-left"> 123456789</p>
                        </div>
                        <div><i class="fa fa-envelope footer-contacts-icon"></i>
                            <p> <a href="#" target="_blank">support@company.com</a></p>
                        </div>
                        <div><i class="fa fa-envelope footer-contacts-icon"></i>
                            <p> <a href="#" target="_blank">AtoZ@gmail.com</a></p>
                        </div>
                        
                    </div>
                    <div class="clearfix visible-sm-block"></div>
                    <div class="col-md-4 footer-about">
                        <h4>About the company</h4>
                        <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet. </p>
                        <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox-plus-jquery.min.js"></script>
</body>

</html>