{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.username }}&emsp;|&emsp;My Cart</title>
    <link rel="icon" href="{% static 'img/logo.png' %}">
    
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/btn_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Cart_popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/integer_input_fix.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Login-Form-Dark.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Navigation-with-Button.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Pretty-Footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/static_popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/untitled.css' %}">

    <style>
        .table tr td:first-child a
        {
            background-color: #000000;
            border: black;
        }

        .table tr td:first-child:hover a
        {
            background-color: #131111;
        }

        .popbox
        {
            visibility: hidden;
            opacity: 0;
            transition: 0.5s ease-in;
            position: fixed;
            top: 50%;
            left: 50%;
            text-align: center;
            background-color: white;
            transform: translate(-50%, -50%);
            border: 1px solid rebeccapurple;
            height: 200px;
            width: 500px;
            box-shadow: 3px 3px #333;
        }

        .popbox .headings
        {
            height: 60px;
            background-color: royalblue;
        }

        .popbox .headings h2
        {
            margin: 0;
            padding-top: 10px;
            color: lavenderblush;
        }

        .popbox p
        {
            margin: 30px 0;
        }

        .popbox .line
        {
            background-color: red;
            height: 1px;
            width: 100%;
        }

        .popbox .btn
        {
            margin: 5px;
        }

        #end
        {
            visibility: hidden;
        }

        #end:checked ~ .popbox
        {
            visibility: visible;
            opacity: 1;
        }

        .btn-outline-danger
        {
            color: #dc3545;
            border-color: #dc3545;
            transition: 0.5s ease-in;
        }

        .btn-outline-danger:hover
        {
            color: #ffffff;
            background-color: #dc3545;
        }

        .btn-outline-dark
        {
            color: #343a40;
            border-color: #343a40;
            transition: 0.5s ease-in;
        }

        .btn-outline-dark:hover
        {
            color: #ffffff;
            background-color: #343a40;
        }
    </style>
</head>

<body>
    {% for message in messages %}
    <div class="msg" id="msg" style="margin-top: 50px; margin-bottom: -70px; position: sticky; height: 96px; text-align: center;">
        <div class="alert alert-danger">
            <h3> {{ message }} </h3>
        </div>
    </div>
    {% endfor %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header" style="margin-left: 50px;">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'img/logo.png' %}" id="logo">
                <strong>TREAT</strong>&nbsp;Me
            </a>

            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-left">
                <li role="presentation">
                    <a href="{% url 'home' %}"><i class="fa fa-home"></i>Home</a>
                </li>
                
                <li class="active" role="presentation">
                    <a href="{% url 'restaurant' %}">
                        &#127860; Resturants
                    </a>
                </li>
                
                <li role="presentation">
                    <a href="{% url 'contact_us_userview' %}"><i class="fa fa-id-card"></i> Contact Us</a>
                </li>

                <li role="presentation">
                    <a href="{% url 'order_cart' %}">
                        <i class="fa fa-shopping-cart"></i>&ensp; My Cart
                        <span class="badge">
                            {% if not request.session.items_total %}
                                0
                            {% else %}
                                {{request.session.items_total}}
                            {% endif %}
                        </span>
                    </a>
                </li>

                <li class="last">
                    {% if user.is_authenticated %}
                        <a class="btn btn-info navbar-btn navbar-right" data-toggle="dropdown" aria-expanded="false" href="#">
                            {{user.username}}&nbsp; <i class="fa fa-chevron-circle-down"></i>
                        </a>

                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a href="{% url 'user_profile' %}">
                                    <i class="fa fa-user"></i>&ensp; My profile
                                </a>
                            </li>

                            <!-- <li role="presentation">
                                <a href="{% url 'order_cart' %}">
                                    <i class="fa fa-shopping-cart"></i>&ensp; My Cart
                                    <span class="badge">
                                        {% if not request.session.items_total %}
                                            0
                                        {% else %}
                                            {{request.session.items_total}}
                                        {% endif %}
                                    </span>
                                </a>
                            </li> -->

                            <li role="presentation">
                                <a href="{% url 'order_list' %}">
                                    <i class="fa fa-cart-arrow-down"></i>&ensp; My Orders
                                </a>
                            </li>

                            <li role="presentation">
                                <a href="{% url 'wishlist' %}">
                                    <i class="fa fa-heart"></i>&ensp; My wishlist
                                </a>
                            </li>
                            
                            <!-- <li role="presentation">
                                <a href="#">
                                    <i class="fa fa-credit-card"></i>&ensp;vouchers
                                </a>
                            </li> -->
                            
                            <li role="presentation">
                                <a href="{% url 'logout' %}">
                                    <i class="fa fa-lock"></i>&ensp; Logout
                                </a>
                            </li>
                        </ul>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-info navbar-btn navbar-right">
                            <i class="fa fa-unlock-alt"></i> Login
                        </a>
                    {% endif %}
                </li>

                <li>
                    <form class="navbar-form navbar-left" role="search" method="GET" action="/search_results" style="padding-left: 300px;">
                        <div class="form-group">
                            <i class="fa fa-search"></i>
                            <input type="text" style="width: 215px;" class="form-control" placeholder="Search food or restaurant" name="query" id="query" style="width: auto; border-color: yellowgreen;">
                        </div>
                        <button type="submit" class="btn btn-secondary">Search</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <div class="emsp" style="margin-top: 80px;"></div>

    <div class="col-sm-8 col-sm-offset-2">
        {% if not request.session.items_total %}
            <h1 style="text-align: center; margin-top: 10%; color: blue">Your cart is Empty.</h1>
            <h4 style="text-align: center; margin-top: 2%; color: green">Keep Shopping</h4>
        {% else %}
            <h1 style="color:purple;float:right;margin-right:20%;margin-bottom:50px">Items from
                <a href="{% url 'restaurant_menu' cart.restaurant.id %}" style="color: seagreen;">{{cart.restaurant.Restaurant_name}}</a>
            </h1>
            
            <table class="table">
                <thead>
                    <th>Item Name</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Edit Cart</th>
                    <th>Remove</th>
                </thead>

                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Total :</td>
                        <td> {{ cart.sub_total }} </td>
                    </tr>

                    <tr>
                        <td>Enter Voucher Id</td>
                        
                        <td>
                            <form action="{% url 'apply_voucher' %}" method="POST" autocomplete="off">
                                {% csrf_token %}
                                <input type="text" name="voucher" style="width: 120px;" aria-hidden="true">
                                <button type="submit" class="btn btn-outline-dark">Apply</button>
                            </form>
                        </td>

                        <td>Discount: </td>
                        <td> {{ cart.tax_total }} 
                            {% if cart.tax_total != 0 %}
                                <a href="{% url 'remove_voucher' %}" style="margin-left: 15px;">Remove Voucher</a>
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td>Final Total: </td>
                        <td> {{ cart.final_total }} </td>
                    </tr>
                </tfoot>
                {% for item in cart.cartitem_set.all %}
                    <tr>
                        <td> 
                            <a href="{% url 'item_details' item.product.id %}" class="btn btn-primary">
                                {{ item.product.Item_name }}
                            </a>
                        </td>

                        <td> {{ item.product.Price }} </td>
                        <td style="padding-left: 30px"> {{ item.quantity }} </td>
                        <td> {{ item.line_total }} </td>

                        <td>
                            <input type="checkbox" class="popupCheckbox" id="popup_{{item.id}}">
                            <label for="popup_{{item.id}}" class="cart_btn">
                                <div class="btn btn-success">Edit Cart</div>
                            </label>

                            <div class="cart-content" style="text-align: center;">
                                <div class="pop-header">
                                    <h2>Edit Item Quantity</h2>
                                    <label for="popup_{{item.id}}" class="fa fa-times"></label>
                                </div>
                                
                                <form method="GET" action="{% url 'edit_order_cart' item.product.id %}">
                                    <div class="numbers-row">
                                        <label for="name">Select Quantity</label>
                                        <input type="number" name="qty" id="qty" value="{{item.quantity}}" min="1">
                                    </div>
                                
                                    <br>
                                    <textarea name="comment" placeholder="Add any requirements, e.g, no mayo.">{{item.comment}}</textarea>
                                    
                                    <div class="line"></div>
                                    <button type="submit" class="btn btn-danger btn-sm">Confirm</button>
                                    <label for="popup_{{item.id}}" class="close-btn">Cancel</label>
                                </form>
                            </div>
                        </td>

                        <td>
                            <input type="checkbox" class="popupCheckbox" id="popup_{{item.product.id}}">
                            
                            <label for="popup_{{item.product.id}}" class="btn btn-warning">Remove</label>

                            <div class="popup-content" style="text-align: center;">
                                <div class="pop-header">
                                    <h2>Remove item</h2>
                                    <label for="popup_{{item.product.id}}" class="fa fa-times"></label>
                                </div>

                                <label for="popup_{{item.product.id}}" class="fa fa-exclamation"></label>
                                <p>Do you want to remove the item from your wishlist?</p>
                                <div class="line"></div>
                                <a href="{% url 'remove_from_order_cart' item.id %}" class="btn btn-danger btn-sm" role="button">
                                    <i class="fa fa-trash"></i>
                                    <span>Remove</span>
                                </a>
                                <label for="popup_{{item.product.id}}" class="close-btn">Cancel</label>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <br>
            <a href="{% url 'checkout' %}" class="btn btn-primary" style="float: right; margin-right:50px">Checkout</a>
            
            <input type="checkbox" id="end">
            <label for="end" class="btn btn-danger" style="float: right; margin-right:15px">Delete Cart</label>

            <label for="end" class="popbox">
                <div class="headings">
                    <h2>Delete Cart?</h2>
                    <label for="end"><i class="fa fa-times" style="margin-top: -15px;"></i></label>
                </div>
                <p>Are you sure you want to delete the current cart?</p>
                <div class="line"></div>
                <a href="{% url 'delete_cart' %}" class="btn btn-outline-danger">Confirm</a>
                <label for="end" class="btn btn-outline-dark">Cancel</label>
            </label>
        {% endif %}
    </div>
    
    
    <!-- <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 footer-navigation">
                    <h3><a href="#">TREAT Me</a></h3>
                    <p class="links"><a href="#">Resturants</a><strong> · </strong><a href="#">Services</a><strong> · </strong><a href="#">Order </a><strong> </strong></p>
                    <p class="company-name">TREAT Me @2020</p>
                </div>
                <div class="col-md-4 col-sm-6 footer-contacts">
                    <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                        <p><span class="new-line-span">Gollamari Khulna, Bangladesh</span></p>
                    </div>
                    <div><i class="fa fa-phone footer-contacts-icon"></i>
                        <p class="footer-center-info email text-left"> 123456789</p>
                    </div>
                    <div><i class="fa fa-envelope footer-contacts-icon"></i>
                        <p> <a href="#" target="_blank">support@company.com</a></p>
                    </div>
                    <div><i class="fa fa-envelope footer-contacts-icon"></i>
                        <p> <a href="#" target="_blank">AtoZ@gmail.com</a></p>
                    </div>
                    
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-4 footer-about">
                    <h4>About the company</h4>
                    <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet. </p>
                    <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
                </div>
            </div>
        </div>
    </footer> -->

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/incrementing.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox-plus-jquery.min.js"></script>
    <script>
        setTimeout(function(){
            if ($('#msg').length > 0)
            {
                $('#msg').remove();
            }
        }, 2000)
    </script>
</body>

</html>