{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Food&emsp;|&emsp;{{item.Item_name}}</title>
    <link rel="icon" href="{% static 'img/logo.png' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=fire">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/Article-Clean.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/batch.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/blockquote.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/btn_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Cart_popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/food-detail-page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/integer_input_fix.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Navigation-with-Button.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/progress-bar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Pretty-Footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox-plus-jquery.min.js"></script>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <style>
        .description .review
        {
            display: inline;
        }

        .comments img
        {
            height: 75px;
            width: 75px;
            border-radius: 50%;
            border: 1px solid #999;
        }

        .comments table
        {
            width: 25%;
            margin-bottom: 30px;
            border-bottom: 1px solid #bbb;
        }

        .comments table .btn
        {
            float: left;
            margin-bottom: 20px;
            margin-right: 5px;
        }

        .comments table td
        {
            padding: 2%;
        }

        .c_form
        {
            visibility: hidden;
            opacity: 0;
        }

        #comment
        {
            visibility: hidden;
        }

        #comment:checked ~ .c_form
        {
            visibility: visible;
            opacity: 1;
        }

        #comment:checked ~ .cmnt
        {
            visibility: hidden;
            opacity: 0;
        }

        .e_form
        {
            visibility: hidden;
            opacity: 0;
        }

        #edit
        {
            visibility: hidden;
        }

        #edit:checked ~ .e_form
        {
            visibility: visible;
            opacity: 1;
        }

        #edit:checked ~ .edt
        {
            visibility: hidden;
            opacity: 0;
        }

        #reply
        {
            visibility: hidden;
        }

        #reply:checked ~ .r_form
        {
            visibility: visible;
            opacity: 1;
        }

        #reply:checked ~ .rep
        {
            visibility: hidden;
            opacity: 0;
        }
    </style>
</head>

<body>
    {% for message in messages %}
        {% if 'violation' in message.tags %}
            <div class="msg" id="msg-long" style="margin-top: 50px; position: sticky; height: 96px">
                <div class="alert alert-danger">
                    <h3> {{ message }} </h3>
                </div>
            </div>
        {% else %}
            <div class="msg" id="msg" style="margin-top: 50px; margin-bottom: -70px; position: sticky; height: 96px">
                <div class="alert alert-success">
                    <h3> {{ message }} </h3>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header" style="margin-left: 50px;">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'img/logo.png' %}" id="logo">
                <strong>TREAT</strong>&nbsp;Me
            </a>

            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-left">
                <li role="presentation">
                    <a href="{% url 'home' %}"><i class="fa fa-home"></i>Home</a>
                </li>
                
                <li class="active" role="presentation">
                    <a href="{% url 'restaurant' %}">
                        &#127860; Resturants
                    </a>
                </li>
                
                <li role="presentation">
                    <a href="{% url 'contact_us_userview' %}"><i class="fa fa-id-card"></i> Contact Us</a>
                </li>

                <li role="presentation">
                    <a href="{% url 'order_cart' %}">
                        <i class="fa fa-shopping-cart"></i>&ensp; My Cart
                        <span class="badge">
                            {% if not request.session.items_total %}
                                0
                            {% else %}
                                {{request.session.items_total}}
                            {% endif %}
                        </span>
                    </a>
                </li>

                <li class="last">
                    {% if user.is_authenticated %}
                        <a class="btn btn-info navbar-btn navbar-right" data-toggle="dropdown" aria-expanded="false" href="#">
                            {{user.username}}&nbsp; <i class="fa fa-chevron-circle-down"></i>
                        </a>

                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a href="{% url 'user_profile' %}">
                                    <i class="fa fa-user"></i>&ensp; My profile
                                </a>
                            </li>

                            <!-- <li role="presentation">
                                <a href="{% url 'order_cart' %}">
                                    <i class="fa fa-shopping-cart"></i>&ensp; My Cart
                                    <span class="badge">
                                        {% if not request.session.items_total %}
                                            0
                                        {% else %}
                                            {{request.session.items_total}}
                                        {% endif %}
                                    </span>
                                </a>
                            </li> -->

                            <li role="presentation">
                                <a href="{% url 'order_list' %}">
                                    <i class="fa fa-cart-arrow-down"></i>&ensp; My Orders
                                </a>
                            </li>

                            <li role="presentation">
                                <a href="{% url 'wishlist' %}">
                                    <i class="fa fa-heart"></i>&ensp; My wishlist
                                </a>
                            </li>
                            
                            <!-- <li role="presentation">
                                <a href="#">
                                    <i class="fa fa-credit-card"></i>&ensp;vouchers
                                </a>
                            </li> -->
                            
                            <li role="presentation">
                                <a href="{% url 'logout' %}">
                                    <i class="fa fa-lock"></i>&ensp; Logout
                                </a>
                            </li>
                        </ul>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-info navbar-btn navbar-right">
                            <i class="fa fa-unlock-alt"></i> Login
                        </a>
                    {% endif %}
                </li>

                <li>
                    <form class="navbar-form navbar-left" role="search" method="GET" action="/search_results" style="padding-left: 300px;">
                        <div class="form-group">
                            <i class="fa fa-search"></i>
                            <input type="text" style="width: 215px;" class="form-control" placeholder="Search food or restaurant" name="query" id="query" style="width: auto; border-color: yellowgreen;">
                        </div>
                        <button type="submit" class="btn btn-secondary">Search</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <div class="itemcontainer">
        <div class="image-part">
            <img src="{{item.Image.url}}">
        </div>

        <div class="item-detail">
            <div class="detail-header">
                <div class="tag">
                    {% if item.onTrend %}
                        <p class="trend">Trending</p>
                    {% endif %}
                
                    {% if item.Availability == 'Out of Stock' %}
                        <p class="stock">Out of stock</p>
                    {% endif %}  
                </div>          

                <h1> {{item.Item_name}}
                    <span> {{item.Price}} Tk</span>
                </h1>
                
                <h6>
                    By :
                    {% if item.Availability == 'Available' %}
                        <a href="{% url 'restaurant_menu' item.Restaurant_name.id %}">{{item.Restaurant_name.Restaurant_name}}</a>
                    {% else %}
                        {{item.Restaurant_name.Restaurant_name}}
                    {% endif %}
                </h6>

                <h5>Ratings : {{avg}} out of 5.0 &emsp; | &emsp; (Rated {{count}} times)</h5>
            </div>

            <div class="description">
                <div class="col text-left">
                    <p>{{item.Description}}
                        Demo: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur dicta tempora voluptatum consequuntur. Eveniet enim voluptatem doloribus ducimus cumque porro dignissimos, fuga illo quaerat eligendi temporibus. Voluptatibus laboriosam molestias facilis.
                    </p>
                    {% if item.Availability == 'Available' %}
                    <form class="form" action="{% url 'rate-item' item.id %}" method="POST">
                        {% csrf_token %}
                        <h4>Rate Your Experience</h4>
                        <div> 
                            <span class="fa fa-star fa-2x review" data-index="1"></span>
                            <span class="fa fa-star fa-2x review" data-index="2"></span>
                            <span class="fa fa-star fa-2x review" data-index="3"></span>
                            <span class="fa fa-star fa-2x review" data-index="4"></span>
                            <span class="fa fa-star fa-2x review" data-index="5"></span>
                            <input type="hidden" name="rating" id="rating">
                        </div>

                        <div class="form-group mx-2" style="margin-top: 20px;">
                            <input type="submit" class="btn btn-danger formPost" name="post_review" value="Post" style="width: 100px; font-variant:small-caps">
                        </div>
                    </form>
                    {% endif %}

                    <div class="rate-container">
                        <div class="over-view">
                            <h3>Ratings</h3>
                            <i class="fa fa-star"></i> {{avg}}<br>
                            <i class="fa fa-user"></i> {{count}}
                        </div>

                        <div class="row mt-20">
                            <div class="col-md-12">
                                <h5 style="color: white;">
                                    <i class="fa fa-star" style="display: inline;"> 5</i>&ensp;Excellent
                                </h5>

                                <div class="progress skill-bar">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{per_five}}" aria-valuemin="0" aria-valuemax="100">
                                        <span class="skill">
                                            <i class="val">{{five}} reviews</i>
                                        </span>
                                    </div>
                                </div>
                
                                <h5 style="color: white;">
                                    <i class="fa fa-star" style="display: inline;"> 4</i>&ensp;Above Average
                                </h5>

                                <div class="progress skill-bar">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{per_four}}" aria-valuemin="0" aria-valuemax="100">
                                        <span class="skill">
                                            <i class="val">{{four}} reviews</i>
                                        </span>
                                    </div>
                                </div>
                                
                                <h5 style="color: white;">
                                    <i class="fa fa-star" style="display: inline;"> 3</i>&ensp;Average
                                </h5>

                                <div class="progress skill-bar">
                                    <div class="progress-bar" style="background-color:#eae10c;" role="progressbar" aria-valuenow="{{per_three}}" aria-valuemin="0" aria-valuemax="100">
                                        <span class="skill">
                                            <i class="val">{{three}} reviews</i>
                                        </span>
                                    </div>
                                </div>

                                <h5 style="color: white;">
                                    <i class="fa fa-star" style="display: inline;"> 2</i>&ensp;Below Average
                                </h5>

                                <div class="progress skill-bar">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{per_two}}" aria-valuemin="0" aria-valuemax="100">
                                        <span class="skill">
                                            <i class="val">{{two}} review</i>
                                        </span>
                                    </div>
                                </div>
                                
                                <h5 style="color: white;">
                                    <i class="fa fa-star" style="display: inline;"> 1</i>&ensp;Poor
                                </h5>

                                <div class="progress skill-bar">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{per_one}}" aria-valuemin="0" aria-valuemax="100">
                                        <span class="skill">
                                            <i class="val">{{one}} reviews</i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="button-part" style="margin-bottom: 100px;">
                {% if item.Availability == 'Out of Stock' %}
                    <a href="#" class="btn btn-success btn-lg" style="background-color: gray;">Out of stock now</a>
                {% else %}
                    <input type="checkbox" class="popupCheckbox" id="popup_{{item.id}}">
                    {% if user.is_authenticated %}
                    <label for="popup_{{item.id}}" class="cart_btn">
                        <div class="btn btn-success btn-lg" style="width: 200px;">
                            <i class="fa fa-shopping-cart"></i> Add to cart
                        </div>
                    </label>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-success btn-lg" style="width: 200px;">
                            <i class="fa fa-shopping-cart"></i> Add to cart
                        </a>
                    {% endif %}

                    <div class="cart-content" style="text-align: center;">
                        <div class="pop-header">
                            <h2>Add item to cart</h2>
                            <label for="popup_{{item.id}}" class="fa fa-times"></label>
                        </div>
                        
                        <form method="GET" action="{% url 'add_to_order_cart' item.id %}">
                            <div class="numbers-row">
                                <label for="name">Select Quantity</label>
                                <input type="number" name="qty" id="qty" value="1" min="1">
                            </div>
                        
                            <br>
                            <textarea name="comment" placeholder="Add any requirements, e.g, no mayo."></textarea>
                            
                            <div class="line"></div>
                            <button type="submit" class="btn btn-danger btn-sm">Confirm</button>
                            <label for="popup_{{item.id}}" class="close-btn">Cancel</label>
                        </form>
                    </div>
                {% endif %}
                
                {% if user.is_authenticated %}
                    <a href="{% url 'add_to_wishlist' item.id %}" class="btn btn-primary btn-lg">
                        <i class="fa fa-heart"></i> Add to wishlist
                    </a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-primary btn-lg">
                        <i class="fa fa-heart"></i> Add to wishlist
                    </a>
                {% endif %}
            </div>
        </div>

        <div class="comments" style="text-align: left; padding-left:55px">
            <hr><h2>Comments...
                <span class="badge badge-dark">{{item.comments.all.count}}</span>
            </h2>

            {% if not item.comments.all %}
                <p>There is no comment.</p>
            {% else %}
                {% for c in item.comments.all %}           
                    <table>
                        <tr>
                            <td rowspan="2"><img src="{{c.user.userprofile.Profile_picture.url}}"></td>
                            <td><strong style="color: blue;"><h3>{{c.user.username}}</h3></strong></td>
                        </tr>

                        <tr>
                            <td><strong>{{c.date_added}}</strong></td>
                        </tr>
        
                        <tr>
                            <td colspan="2">{{c.text}}</td>
                        </tr>
        
                        {% if user == c.user %}
                            <tr>
                                <td colspan="2">
                                    <a href="{% url 'delete-comment-item' c.id %}" class="btn btn-danger">Delete</a>

                                    <input type="checkbox" id="edit">

                                    {% if item.Availability == 'Available' %}
                                    <label for="edit" class="btn btn-warning edt">Edit</label>

                                    <form method="POST" action="{% url 'edit-comment-item' c.id %}" id="edit" class="e_form">
                                        {% csrf_token %}
                                        <textarea name="comment" placeholder="Leave a Comment...">{{c.text}}</textarea><br>
                                        <button type="submit" class="btn btn-success">Post</button>
                                        <label for="edit" class="btn btn-warning">Cancel</label>
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="2">
                                    <a href="#" class="btn btn-info">Report</a>
                                    <input type="checkbox" id="reply">

                                    {% if item.Availability == 'Available' %}
                                    <label for="reply" class="btn btn-warning rep">Reply</label>

                                    <form method="POST" action="{% url 'comment-item' item.id %}" id="reply" class="r_form">
                                        {% csrf_token %}
                                        <textarea name="comment" placeholder="Leave a Comment...">@{{c.user.username}} </textarea><br>
                                        <button type="submit" class="btn btn-success">Post</button>
                                        <label for="reply" class="btn btn-warning">Cancel</label>
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                {% endfor %}
            {% endif %}

            <input type="checkbox" id="comment">
            {% if item.Availability == 'Available' %}
            <label for="comment" class="btn btn-primary cmnt" style="margin-left: -16px;">Leave a Comment</label>

            <form method="POST" action="{% url 'comment-item' item.id %}" id="comment" class="c_form">
                {% csrf_token %}
                <textarea name="comment" placeholder="Add Comment..."></textarea><br>
                <button type="submit" class="btn btn-success">Post</button>
                <label for="comment" class="btn btn-warning">Cancel</label>
            </form>
            {% endif %}
        </div>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/incrementing.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script>
        setTimeout(function(){
            if ($('#msg').length > 0)
            {
                $('#msg').remove();
            }
        }, 2000)
    </script>

    <script>
        $(document).ready(function()
        {
            $('.progress .progress-bar').css("width", function() {
                    return $(this).attr("aria-valuenow") + "%";
            })
        });
    </script>
</body>

</html>