{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treat Me&emsp;|&emsp;Restaurants</title>
    <link rel="icon" href="{% static 'img/logo.png' %}">
    
    <style>
        body #promo
        {
            background:url("{% static 'img/background.jpg' %}") no-repeat;
        }

        .menu a:hover .menu-content h4
        {
            color: red;
            transition: 0.6s ease;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=fire">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/Fonts/BluuNext-Bold.otf' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Pretty-Footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Article-Clean.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Navigation-with-Button.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/blockquote.css' %}">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header" style="margin-left: 50px;">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'img/logo.png' %}" id="logo">
                <strong>TREAT</strong>&nbsp;Me
            </a>

            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-left">
                <li role="presentation">
                    <a href="{% url 'home' %}"><i class="fa fa-home"></i>Home</a>
                </li>
                
                <li class="active" role="presentation">
                    <a href="{% url 'restaurant' %}">
                        &#127860; Resturants
                    </a>
                </li>
                
                <li role="presentation">
                    <a href="{% url 'contact_us_userview' %}"><i class="fa fa-id-card"></i> Contact Us</a>
                </li>

                <li role="presentation">
                    <a href="{% url 'order_cart' %}">
                        <i class="fa fa-shopping-cart"></i>&ensp; My Cart
                        <span class="badge">
                            {% if not request.session.items_total %}
                                0
                            {% else %}
                                {{request.session.items_total}}
                            {% endif %}
                        </span>
                    </a>
                </li>

                <li class="last">
                    {% if user.is_authenticated %}
                        <a class="btn btn-info navbar-btn navbar-right" data-toggle="dropdown" aria-expanded="false" href="#">
                            {{user.username}}&nbsp; <i class="fa fa-chevron-circle-down"></i>
                        </a>

                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a href="{% url 'user_profile' %}">
                                    <i class="fa fa-user"></i>&ensp; My profile
                                </a>
                            </li>

                            <!-- <li role="presentation">
                                <a href="{% url 'order_cart' %}">
                                    <i class="fa fa-shopping-cart"></i>&ensp; My Cart
                                    <span class="badge">
                                        {% if not request.session.items_total %}
                                            0
                                        {% else %}
                                            {{request.session.items_total}}
                                        {% endif %}
                                    </span>
                                </a>
                            </li> -->

                            <li role="presentation">
                                <a href="{% url 'order_list' %}">
                                    <i class="fa fa-cart-arrow-down"></i>&ensp; My Orders
                                </a>
                            </li>

                            <li role="presentation">
                                <a href="{% url 'wishlist' %}">
                                    <i class="fa fa-heart"></i>&ensp; My wishlist
                                </a>
                            </li>
                            
                            <!-- <li role="presentation">
                                <a href="#">
                                    <i class="fa fa-credit-card"></i>&ensp;vouchers
                                </a>
                            </li> -->
                            
                            <li role="presentation">
                                <a href="{% url 'logout' %}">
                                    <i class="fa fa-lock"></i>&ensp; Logout
                                </a>
                            </li>
                        </ul>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-info navbar-btn navbar-right">
                            <i class="fa fa-unlock-alt"></i> Login
                        </a>
                    {% endif %}
                </li>

                <li>
                    <form class="navbar-form navbar-left" role="search" method="GET" action="/search_results" style="padding-left: 300px;">
                        <div class="form-group">
                            <i class="fa fa-search"></i>
                            <input type="text" style="width: 215px;" class="form-control" placeholder="Search food or restaurant" name="query" id="query" style="width: auto; border-color: yellowgreen;">
                        </div>
                        <button type="submit" class="btn btn-secondary">Search</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    
    <h1 style="margin: 6%;">Restaurants near you</h1>
    {% if not object_list %}
        <h3 style="text-align: center; color:red; margin-bottom:18.3vh;">No results found</h3>
    {% endif %}
    
    <div class="menu">        
        {% for rest in object_list %}
        <a href="{% url 'restaurant_menu' rest.id %}" class="single-menu" style="text-decoration: none; color: black">
            <img src="{{rest.Cover_Photo.url}}" alt="">
            <div class="menu-content">
                <h4>{{rest.Restaurant_name}}</h4>
                <p>{{rest.Bio}}</p>
                {% if rest.ratings is not False %}
                    <i class="fa fa-star"></i>
                    <span style="color: rgb(111, 0, 255); font-size:12px">{{rest.ratings}}</span>
                    <i class='fa fa-comment' style="margin-left: 20px;"></i>
                    <span style="color: rgb(111, 0, 255); font-size:12px">{{rest.review_count}}</span>
                {% else %}
                    <i class='fa fa-comment'></i>
                    <span style="color: rgb(111, 0, 255); font-size:12px">{{rest.review_count}}</span>
                {% endif %}
            </div>
        </a>
        {% endfor %}
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 footer-navigation">
                    <h3><a href="#">TREAT Me</a></h3>
                    <p class="links"><a href="#">Resturants</a><strong> · </strong><a href="#">Services</a><strong> · </strong><a href="#">Order </a><strong> </strong></p>
                    <p class="company-name">TREAT Me @2020</p>
                </div>
                <div class="col-md-4 col-sm-6 footer-contacts">
                    <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                        <p><span class="new-line-span">Gollamari Khulna, Bangladesh</span></p>
                    </div>
                    <div><i class="fa fa-phone footer-contacts-icon"></i>
                        <p class="footer-center-info email text-left"> 123456789</p>
                    </div>
                    <div><i class="fa fa-envelope footer-contacts-icon"></i>
                        <p> <a href="#" target="_blank">support@company.com</a></p>
                    </div>
                    <div><i class="fa fa-envelope footer-contacts-icon"></i>
                        <p> <a href="#" target="_blank">AtoZ@gmail.com</a></p>
                    </div>
                    
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-4 footer-about">
                    <h4>About the company</h4>
                    <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet. </p>
                    <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{%static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox-plus-jquery.min.js"></script>
</body>

</html>