{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treat Me&ensp;|&ensp;Reset Password</title>
    <link rel="icon" href="{% static 'img/logo.png' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Login-Form-Dark.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Navigation-with-Button.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Pretty-Footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/untitled.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/popup.css' %}">
</head>

<body>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="alert alert-success">
                <h1 style="font-variant: small-caps;"><i class="fa fa-exclamation-circle"></i> Reset Password</h1>
            </legend>
            <div class="cont" style="margin-left: 2%; line-height: 6vh">
                <tr>
                    <th><label for="id_new_password1">New password:</label></th>
                    <td>
                        <input type="password" style="line-height: 4vh;" name="new_password1" autocomplete="new-password" required id="id_new_password1"><br>
                        <span class="helptext">
                            <ul>
                                <li>Your password can’t be too similar to your other personal information.</li>
                                <li>Your password must contain at least 8 characters.</li>
                                <li>Your password can’t be a commonly used password.</li>
                                <li>Your password can’t be entirely numeric.</li>
                            </ul>
                        </span>
                    </td>
                </tr>
        
                <tr>
                    <th><label for="id_new_password2">New password confirmation:</label></th>
                    <td><input type="password" style="line-height: 4vh;" name="new_password2" autocomplete="new-password" required id="id_new_password2"></td>
                </tr>
            </div>
            
        </fieldset>
    
        <div class="form-group" style="margin-left: 2%;">
            <button class="btn btn-danger bg" type="submit">Confirm Reset</button>
            <a href="{% url 'login' %}" class="btn btn-warning bg" type="submit" style="width: 130.2px; margin-left: 20px;">Cancel</a>
        </div>
    </form>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox-plus-jquery.min.js"></script>
</body>

</html>
